.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}
button i:hover {
    color:red;

}
button i:hover {
    color:red;

}
button i.fa{
    color:red;
}

.input-radius{
        border:none;
        border-radius: 21px;
}
.topnav-right a {
    color:#fff;

}
.topnav-right a:hover {

    background-color:#5352B2;

}
.logo{
    font-family: 'Anton', sans-serif;
    color:#fff !important;
}
.card-header{
    background-color:#fff;
    border:none;
    padding-bottom:0px;
}
.card-img{
    padding:5px;
}
.card-author{
    margin:3px;
    font-weight: bold;
    font-size:16px;
}
.card-time{
    font-size:12px;
    font-family: Helvetica,Arial,sans-serif;
    color: #90949c;
}
.card-option{
    float:right;
}
.card-option button{

    background-color:#F7F7F7;
    padding:0px;

}
.card-body{
    padding:0!important;
}
.card-text{
    height: 300px;
    font-size:35px;
    background-color: #9fcdff;
    color:#fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-footer{
    padding:2px !important;
    text-align: center;
    background-color: #fff;
}
.card-footer button{
    background-color:#fff;
}
.comment_post{
    position: fixed;
}
.introduce li a{
    padding:15px;
    color:#657786 !important;

}
.introduce li a:hover{
    border-bottom:2px solid #007CB4;
    background-color:rgba(251,248,255,0.79);

}